* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  list-style: none;
  text-decoration: none;
  border: none;
  line-height: 1.5;
}

nav {
  display: flex;
  background: rgb(6, 153, 156);
  z-index: 100;
  height: 12vh;
  position: sticky;
  top: 0;
}
nav .logo {
  flex: 1;
  display: flex;
  align-items: center;
}
nav .logo img {
  width: 125px;
  height: 55px;
  margin-left: 50px;
}
nav ul {
  flex: 2;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
nav ul li {
  list-style: none;
}
nav ul a {
  text-transform: uppercase;
  color: rgb(17, 16, 16);
}
nav ul a:hover {
  background: red;
  padding: 4px;
  color: white;
  border-bottom: 1px solid white;
}

#contact-us {
  display: flex;
  height: 150vh;
}
#contact-us .contact-box {
  background-color: #eecbed;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  height: 100vh;
}
#contact-us form {
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 2px 4px;
  width: 60%;
  max-width: 600px;
  border-radius: 10px;
}
#contact-us form h2 {
  text-align: center;
  color: #e65b00;
  margin-bottom: 20px;
}
#contact-us form input,
#contact-us textarea {
  border: 0;
  margin: 10px 0px;
  padding: 20px;
  outline: none;
  background: #f5f5f5;
  font-size: 16px;
  border-radius: 10px;
  resize: none;
}
#contact-us form button {
  background: white;
  color: #e65b00;
  border: 1px solid #e65b00;
  padding: 15px;
  font-size: 10px;
  outline: none;
  width: 100%;
  font-weight: bold;
  margin: 20px auto 0;
  border-radius: 30px;
}
#contact-us form button:hover {
  border: 1px solid #e65b00;
  background: #e65b00;
  color: white;
}

#footer {
  height: 40vh;
  margin: 2px;
  display: flex;
  background: rgb(225, 220, 220);
  justify-content: space-around;
}
#footer .footer-left {
  flex: 1;
  flex-direction: column;
  margin-left: 25px;
  margin: 20px;
}
#footer .footer-left img {
  margin-left: 70px;
}
#footer .footer-left p {
  text-align: justify;
}
#footer .footer-center {
  margin: 35px;
  justify-content: center;
}
#footer .footer-center img {
  margin-top: 20px;
}
#footer .footer-center span {
  font-size: 15px;
}
#footer .footer-right {
  margin: 30px;
  text-align: center;
  margin-bottom: 20px;
}
#footer .social {
  display: inline-block;
  flex-wrap: wrap;
  margin-right: 10px;
  padding: 1px;
}
#footer .social img {
  margin-top: 25px;
  gap: 25px;
}

#sport {
  margin: 20px;
  display: flex;
  flex-direction: column;
}
#sport .sport-header {
  display: flex;
  flex-direction: column;
}
#sport .sport-header h1 {
  text-align: center;
}
#sport .sport-header p {
  text-align: center;
}
#sport .sport-content {
  margin-top: 100px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
#sport .sport-content .card {
  width: 24rem;
  height: 30rem;
  margin: 20px;
  margin-top: 0;
  border-radius: 20px;
  overflow: hidden;
  cursor: pointer;
  position: relative;
  color: black;
  box-shadow: 0 10px 30px 5px rgba(0, 0, 0, 0.2);
  background: rgb(31, 137, 166);
}
#sport .sport-content .card img {
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 85%;
  top: 0;
  left: 0;
  opacity: 0.9;
  transition: opacity 0.2s ease-out;
}
#sport .sport-content .card h2 {
  position: absolute;
  inset: auto auto 30px 30px;
  margin: 0;
  transition: inset 0.3s 0.3s ease-out;
  font-family: sans-serif;
  font-weight: normal;
  text-transform: uppercase;
}
#sport .sport-content .card p,
#sport .sport-content .card a {
  position: absolute;
  opacity: 0;
  max-width: 80%;
  transition: opacity 0.3s ease-out;
}
#sport .sport-content .card p {
  width: 100%;
  padding: 20px;
  inset: auto auto 80px 30px;
  background: rgba(0, 0, 0, 0.39);
  color: whitesmoke;
  font-weight: 200;
}
#sport .sport-content .card a {
  inset: auto auto 40px 30px;
  color: inherit;
  text-decoration: none;
}
#sport .sport-content .card a:hover {
  color: white;
}
#sport .sport-content .card:hover h2 {
  padding: 20px;
  inset: auto auto 220px 30px;
  transition: inset 0.3s ease-out;
  color: white;
}
#sport .sport-content .card:hover p, #sport .sport-content .card:hover a {
  opacity: 1;
  transition: opacity 0.5s 0.1s ease-in;
}
#sport .sport-content .card:hover img {
  transition: opacity 0.3s ease-in;
  opacity: 1;
}
#sport .sport-content .material-symbols-outlined {
  vertical-align: middle;
}

#gym {
  display: flex;
  flex-direction: column;
}
#gym h1 {
  text-align: center;
}
#gym p {
  text-align: center;
}
#gym .gyms {
  display: flex;
  flex-direction: column;
  margin: 50px;
}
#gym .gyms p {
  padding: 20px;
}
#gym .gyms .card {
  margin: 20px;
  display: flex;
  justify-content: space-around;
  border-radius: 20px;
}
#gym .gyms .card img {
  border-radius: 20px;
}
#gym .gyms .card .card-content {
  margin-top: 30px;
}
#gym .gyms .card .card-content h2 {
  text-align: center;
  text-transform: uppercase;
}
#gym .gyms .card .card-content p {
  padding: 20px;
}
#gym .gyms .card:nth-child(even) {
  flex-direction: row-reverse;
}
#gym .gyms .card:nth-child(even) p {
  padding: 20px;
}
#gym .gyms .card:nth-child(even) .card-content .button {
  margin-left: auto;
}

nav {
  display: flex;
  background: rgb(6, 153, 156);
  z-index: 100;
  height: 12vh;
  position: sticky;
  top: 0;
}
nav .logo {
  flex: 1;
  display: flex;
  align-items: center;
}
nav .logo img {
  width: 125px;
  height: 55px;
  margin-left: 50px;
}
nav ul {
  flex: 2;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
nav ul li {
  list-style: none;
}
nav ul a {
  text-transform: uppercase;
  color: rgb(17, 16, 16);
}
nav ul a:hover {
  background: red;
  padding: 4px;
  color: white;
  border-bottom: 1px solid white;
}

#home {
  height: 100vh;
  padding: 100px;
  background-image: url(https://www.jta.org/wp-content/uploads/2021/12/12-2-21-SportsMiraclesMain-2160x1200.jpg);
  background-position: -2;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-transform: uppercase;
}

.homepag {
  background: rgba(0, 0, 0, 0.5333333333);
  width: 70%;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin-top: 150px;
  margin-left: 100px;
}
.homepag:hover {
  box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;
}

button {
  background: rgb(6, 153, 156);
  width: 150px;
  height: 40px;
  border-radius: 8px;
  margin-top: 20px;
}
button:hover {
  background: red;
}
button:hover li a {
  color: white;
}

#about {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}
#about h1 {
  display: flex;
  justify-content: center;
}
#about .abouttop {
  display: flex;
  gap: 10px;
}
#about .abouttop .abouttopleft {
  background: rgb(230, 223, 223);
  border-radius: 8px;
  display: flex;
  flex: 1;
  padding: 20px;
  margin: 20px;
}
#about .abouttop .abouttopright {
  background: rgb(230, 223, 223);
  display: flex;
  border-radius: 8px;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin: 20px;
}
#about .mis-vis {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin: 30px;
}
#about .mis-vis .our-mis-vis {
  display: flex;
  flex-direction: column;
}
#about .mis-vis .our-mis-vis .mission, #about .mis-vis .our-mis-vis .vision {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #000;
}
#about .mis-vis .our-mis-vis .mission h2, #about .mis-vis .our-mis-vis .vision h2 {
  display: flex;
  justify-content: start;
}
#about .mis-vis .our-mis-vis .mission p, #about .mis-vis .our-mis-vis .vision p {
  display: flex;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
body .topic {
  display: flex;
  flex-direction: column;
}
body .topic h1 {
  padding: 20px;
}
body .group {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
}
body .group .card {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 10px;
}
body .group .card span {
  padding: 10px;
  text-align: center;
  text-transform: uppercase;
}
body .video {
  margin: 20px;
  display: flex;
  justify-content: space-around;
}
body .video iframe {
  width: 60%;
  height: 90vh;
}
body .video div {
  width: 30%;
  height: 30vh;
  padding: 20px;
  display: flex;
  flex-direction: column;
  background: white;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  border-radius: 20px;
}
body .video p {
  padding: 20px;
}
body .video a {
  text-align: center;
  padding: 20px;
}
body .value {
  margin: 30px;
  display: flex;
  flex-direction: column;
}
body .value h2 {
  text-transform: uppercase;
  text-align: center;
}
body .value .card-value {
  margin: 20px;
  display: flex;
  justify-content: space-around;
}
body .value .card-value .card {
  width: 200px;
  height: 45vh;
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-around;
  align-items: center;
  background: whitesmoke;
  border-radius: 20px;
}
body .value .card-value .card img {
  display: flex;
  align-items: center;
  border: 1px solid teal;
  border-radius: 10px;
}
body .value .card-value .card span {
  text-align: center;
}
body .value .card-value .card div p {
  text-align: justify;
}
body .card:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
body .topic {
  display: flex;
  flex-direction: column;
}
body .topic h1 {
  padding: 20px;
}
body .group {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
}
body .group .card {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 10px;
}
body .group .card span {
  padding: 10px;
  text-align: center;
  text-transform: uppercase;
}
body .video {
  margin: 20px;
  display: flex;
  justify-content: space-around;
}
body .video iframe {
  width: 60%;
  height: 90vh;
}
body .video div {
  width: 30%;
  height: 30vh;
  padding: 20px;
  display: flex;
  flex-direction: column;
  background: white;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  border-radius: 20px;
}
body .video p {
  padding: 20px;
}
body .video a {
  text-align: center;
  padding: 20px;
}
body .value {
  margin: 30px;
  display: flex;
  flex-direction: column;
}
body .value h2 {
  text-transform: uppercase;
  text-align: center;
}
body .value .card-value {
  margin: 20px;
  display: flex;
  justify-content: space-around;
}
body .value .card-value .card {
  width: 200px;
  height: 45vh;
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-around;
  align-items: center;
  background: whitesmoke;
  border-radius: 20px;
}
body .value .card-value .card img {
  display: flex;
  align-items: center;
  border: 1px solid teal;
  border-radius: 10px;
}
body .value .card-value .card span {
  text-align: center;
}
body .value .card-value .card div p {
  text-align: justify;
}
body .card:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
body .topic {
  display: flex;
  flex-direction: column;
}
body .topic h1 {
  padding: 20px;
}
body .group {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
}
body .group .card {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 10px;
}
body .group .card span {
  padding: 10px;
  text-align: center;
  text-transform: uppercase;
}
body .video {
  margin: 20px;
  display: flex;
  justify-content: space-around;
}
body .video iframe {
  width: 60%;
  height: 90vh;
}
body .video div {
  width: 30%;
  height: 30vh;
  padding: 20px;
  display: flex;
  flex-direction: column;
  background: white;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  border-radius: 20px;
}
body .video p {
  padding: 20px;
}
body .video a {
  text-align: center;
  padding: 20px;
}
body .value {
  margin: 30px;
  display: flex;
  flex-direction: column;
}
body .value h2 {
  text-transform: uppercase;
  text-align: center;
}
body .value .card-value {
  margin: 20px;
  display: flex;
  justify-content: space-around;
}
body .value .card-value .card {
  width: 200px;
  height: 45vh;
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-around;
  align-items: center;
  background: whitesmoke;
  border-radius: 20px;
}
body .value .card-value .card img {
  display: flex;
  align-items: center;
  border: 1px solid teal;
  border-radius: 10px;
}
body .value .card-value .card span {
  text-align: center;
}
body .value .card-value .card div p {
  text-align: justify;
}
body .card:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.our-club {
  padding-bottom: 20px;
}
.our-club img {
  width: 100%;
  height: 50hv;
}
.our-club .picture-out {
  display: flex;
  flex-wrap: wrap;
}
.our-club .picture-out img {
  width: 12.5%;
  height: 25vh;
}/*# sourceMappingURL=main.css.map */