* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Condensed', sans-serif;
    list-style: none;
    text-decoration: none;
    border:none;
    line-height: 1.5;
}
<<<<<<< HEAD


=======
>>>>>>> f64ca454a5145bdcd9daf1c8a03aaa280486663a
@import 'components/navbar';
@import 'components/contact-us';
@import 'components/footer';
@import 'components/sport';
@import 'components/gym';
<<<<<<< HEAD
@import 'components/navbar';
=======
>>>>>>> f64ca454a5145bdcd9daf1c8a03aaa280486663a
@import 'components/home';
@import 'components/button';
@import 'components/about';
