* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Condensed', sans-serif;
    list-style: none;
    text-decoration: none;
    border:none;
    line-height: 1.5;
}

@import 'components/navbar';
<<<<<<< HEAD
@import 'components/contact-us';
@import 'components/footer';
=======
@import 'components/sport';
@import 'components/gym';
@import 'components/navbar';
@import 'components/home';
@import 'components/button';
@import 'components/about';
<<<<<<< HEAD
=======
>>>>>>> 38818b7d4d0c3d679f9e9ea3ab4db1b604cbd463
>>>>>>> 71665fd699a5615683e5f3b7e2dbdd2e7477b407
>>>>>>> 62aa87662f72553198cdeccdfd822f053833318f
