* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Condensed', sans-serif;
    list-style: none;
    text-decoration: none;
    border:none;
    line-height: 1.5;
}
<<<<<<< HEAD

@import 'components/navbar';
@import 'components/sport';
@import 'components/gym';
=======
@import 'components/navbar';
@import 'components/home';
@import 'components/button';
@import 'components/about';
>>>>>>> 38818b7d4d0c3d679f9e9ea3ab4db1b604cbd463
