#about {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 10px;

    h1 {
        display: flex;
        justify-content: center;
    }

    .abouttop {
        display: flex;
        align-items: center;
        @include responsive ('mobile'){
            display: flex;
            flex-direction: column;
        }
        .abouttopleft {
            display: flex;
            flex-direction: column;
            flex: 1;
            .aboutbb1{
                background: rgb(230, 223, 223);
                display: flex;
                align-items: center;
                border-radius: 8px; 
                padding: 20px;
                margin: 20px;
                @include responsive('tablet'){
                    flex: 1;
                }
            }
        }
        .abouttopright {
            background: rgb(230, 223, 223);
            display: flex;
            border-radius: 8px;
            flex-direction: column;
            flex: 1;
            justify-content: center;
            align-items: center;
            padding: 20px;
            margin: 20px;
            @include responsive('tablet'){
                flex: 1;
                height: 30vh;
                img{
                    width: 100%;
                    
                }
            }
            
        }
    }

    .mis-vis {
        display: flex;
        flex-direction: column;
        align-items: start;
        margin: 30px;

        .our-mis-vis {
            display: flex;
            flex-direction: column;

            .mission,
            .vision {
                display: flex;
                flex-direction: column;
                border-bottom: 1px solid #000;

                h2 {
                    display: flex;
                    justify-content: start;
                }

                p {
                    display: flex;
                }

            }

        }
    }
}