body{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    .topic{
        display: flex;
        flex-direction: column;
        h1{
            padding: 20px;
        }
       
    }
    .group{
        margin-top: 20px;
        display: flex;
        flex-direction: row;
        @include responsive ('tablet'){
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
        }
        @include responsive ('mobile'){
            justify-content: center;
            align-items: center;
        }
        .card{
            margin: auto;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            border-radius: 10px;
         
            span{
                padding: 10px;
                text-align: center;
                text-transform: uppercase;

            }
        }
    }

    @import 'value';
    @import 'card';
}