button{
    background:rgb(6, 153, 156);
    width: 150px;
    height: 40px;
    border-radius: 8px;
    margin-top: 20px;
    margin: 10px;
    &:hover{   
        background: red;
        li{
           a{
               color: white;
           }
        } 
        

    }

}