#footer {
  height: 50vh;
  margin: 2px;
  display: flex;
  background: rgb(225, 220, 220);
  justify-content: space-around;

  .footer-left {
    flex: 1;
    flex-direction: column;
    margin-left: 25px;
    margin: 20px;

    img {
      margin-left: 70px;
    }

    p {
      text-align: justify;
      font-size: 20px;
    }
  }

  .footer-center {
    margin: 35px;
    justify-content: center;

    img {
      margin-top: 20px;
    }

    span {
      font-size: 20px;

    }
  }
  .footer-center h2:hover{
    color:red;
  }
  .footer-center span:hover{
    color:blue;
  }

  .footer-right {
    margin: 30px;
    text-align: center;
    margin-bottom: 20px;

  }
  .footer-right h2:hover{
    color:red;
  }

  .social {
    display: inline-block;
    flex-wrap: wrap;
    margin-right: 10px;
    padding: 1px;

    img {
      margin-top: 25px;
      gap: 25px;
    }

  }


}