#gym {
    display: flex;
    flex-direction: column;
    h1{
        text-align: center;
    }
    p{
        text-align: center;
    }
    .gyms {
        margin: 50px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        p{  
            padding: 20px;
        }
        .card {
            margin: 20px;
            width: 80%;
            display: flex;
            justify-content: space-around;
            border-radius: 20px;
            img{
                border-radius: 20px;
            }
            .card-content {
                margin-top: 30px;

                h2 {
                    text-align: center;
                    text-transform: uppercase;
                }

                p {
                    padding: 20px;
                }
                a{
                    text-align: center;
                }
              
            }

        }

        .card:nth-child(even) {
            flex-direction: row-reverse;
         
            .card-content{
                margin-left: 100px;   
                p{
                    padding: 20px;
                }
                a{
                    text-align: right;
                }
            }
        } 
        .card:nth-child(odd){
            p{
                padding: 20px;
            }
        }
    }
}