#gym {
    display: flex;
    flex-direction: column;
    h1{
        text-align: center;
    }
    p{
        text-align: center;
    }
    .gymtop{
        img{
            width: 100%;
            height: 100vh;
            @include responsive('tablet'){
                width: 100%;
                height: 90vh;
            }
            @include responsive('mobile'){
                width: 100%;
                height: 90vh;
            }
        }

    }

    }
    .gyms {
        margin: 50px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        @include responsive('tablet'){
            margin: 20px;
        }
        @include responsive('mobile'){
            margin: 10px;
        }
        p{  
            padding: 20px;
        }
        .card {
            margin: 20px;
            width: 100%;
            height: 50vh;
            display: flex;
            justify-content: space-around;
            border-radius: 20px;
            @include responsive ('tablet'){
                width: 90%;
                height: 55vh;
            }
            @include responsive ('mobile'){
                width: 80%;
                height: 90vh;
                flex-direction: column;
                align-items: center;
            }
        
            img{
                width: 30%;
                height: 50vh;
                border-radius: 20px;
                box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
                @include responsive('tablet'){
                    margin-left: 10px;
                    margin-top: 30px;
                    width: 230px;
                    height: 40vh;
                }
                @include responsive('mobile'){
                    margin-top : 2px;
                    width: 250px;
                    height: 35vh;
                }

            }
            .card-content {
                margin-top: 30px;
                padding: 20px;
                display: flex;
                flex-direction: column;
               @include responsive('tablet'){
                    margin-top: 10px;
                    padding: 5px;
               }
                @include responsive('mobile'){
                    margin-top: 0px;
                    padding: 5px;
                }
                h2 {
                    text-align: center;
                    text-transform: uppercase;
                    @include responsive('tablet'){
                        font-weight: 12px;
                    }
                    @include responsive('mobile'){
                        font-weight: 10px;
                    }
                }

                p {
                    font-weight: 200;
                    padding: 20px;
                    @include responsive ('tablet'){
                        text-align: justify;
                        padding: 0px;
                        // display: none;
                    }
                    @include responsive ('mobile'){
                        text-align: center;
                        
                    }
                }
                a{
                    margin-top: 10px;
                    width: 100px;
                    padding: 10px;
                    text-align: right;
                    background: lightblue;
                    color:black;
                    border-radius: 10px;
                    @include responsive('tablet'){
                        margin-top: 2px;
                        text-align: right;
                        padding: 5px;
                    }
                    @include responsive('mobile'){
                        padding: 5px;
                        text-align: center;
                    }
                }
                a:hover{
                    background: red;
                    color: white;
                }
            
              
            }

        }

        .card:nth-child(even) {
            flex-direction: row-reverse;
            @include responsive('tablet'){
                img{
                    margin-right: 10px;
                }
            }
            @include responsive('mobile'){
                flex-direction: column;
            }
         
            .card-content{
                p{
                    padding: 20px;
                }
                a{
                    text-align: right;
                }
            }
        } 
        .card:nth-child(odd){
            .card-content{
                p{
                    padding: 20px;
                }
                a{
                    text-align: right;
                }
            }
        }
    }
