nav{
    display: flex;
    background:rgb(94, 198, 211);
    height: 12vh;
    position: sticky;
    top: 0;
    .logo{
        flex: 1;
        display: flex;
        align-items: center;
        img{
            width: 125px;
            height: 55px;
            margin-left: 50px;
        }
    }
    ul{
        flex: 2;
        display: flex;
        justify-content: space-around;
        align-items: center;
        li{
            list-style: none;
        }
        a{
            text-transform: uppercase;
            color: rgb(13, 13, 13);
            &:hover{
                color: red;
                border-bottom: 1px solid red;
            }
        }
    }
}