nav{
    background:rgb(6, 153, 156);
    height: 12vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    z-index: 1000;
    position: sticky;
    top: 0;
    .logo{
        flex: 1;
        display: flex;
        align-items: center;
        img{
            width: 125px;
            height: 55px;
            margin-left: 50px;
        }
    }
    ul{
        flex: 2;
        display: flex;
        justify-content: space-around;
        align-items: center;
        li{
            list-style: none;
        }
        a{
            text-transform: uppercase;
            color: rgb(17, 16, 16);
            &:hover{
                background: red;
                padding: 4px;
                color: white;
                border-bottom: 1px solid white;
            }
        }
    }
}