.our-club{

    img{
        width: 100%;
    }
    .ourimg{
        display: flex;
        flex-wrap: wrap;
        img{
            margin: 5px;
            width: 11.70%;
            height: 25vh;
            @include responsive('tablet'){
                width: 23.67%;
                height: 30vh;
            }
            @include responsive('mobile'){
                width: 47.20%;
                height: 25vh;
            }
        }
    
        
    }
}