.our-club{

    img{
        width: 100%;
    }
    .ourimg{
        display: flex;
        flex-wrap: wrap;
        img{
            margin: 5px;
            width: 11.50%;
            height: 25vh;
            
        }
    
        
    }
}