.our-club{
    padding-bottom: 20px;
    img{
        width: 100%;
        height: 50hv;

    }
    .picture-out{
        display: flex;
        flex-wrap: wrap;
        // flex-direction: column;
        img{
            width: 12.50%;
            height: 25vh;
        }
    }
    
}