.value{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    h2{
        text-transform: uppercase;
        text-align: center;
    }
    .card-value{
        margin: 15px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        .card{
            margin-top: 10px;
            width: 20%;
            height: 40vh;
            display: flex;
            flex-direction: column-reverse;
            align-items: center;
            background: whitesmoke;
            border-radius: 20px;
            p{
                padding: 20px;
            }
        }
    }
}