.value{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    h2{
        text-transform: uppercase;
        text-align: center;
    
    }
    .card-value{
        margin: 15px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        @include responsive ('tablet'){
            margin: 10px;
            flex-wrap: wrap;
        }
        .card{
            width: 20%;
            height: 35vh;
            display: flex;
            flex-direction: column-reverse;
            align-items: center;
            background: whitesmoke;
            border-radius: 20px;
            @include responsive('tablet'){
                margin: 10px;
                width: 40%;
            }
            @include responsive('mobile'){
                width: 90%;
            }
            p{
                padding: 10px;
            }
            span{
                text-transform: uppercase;
            }
        }
    }
}