.video{
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    @include responsive('tablet'){
        margin-top: 40px;
    }
    @include responsive('mobile'){
        flex-wrap: wrap;
    }
    iframe{
        width: 100%;
    }
    div{
        margin: 10px; 
        height: 30vh;
        display: flex;
        flex-direction: column;
        background: whitesmoke;
        border-radius: 10px;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
        p{
            padding: 20px;
        }
        a{
            text-align: center;
        }
    }
}