.body{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    .group{
        margin: 20px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
}