body{
    display: flex;
    flex-direction: column;
    .group{
        display: flex;
        justify-content: space-around;
        .card{
            margin: 20px;
            background: lightblue;
          img{
            margin: 20px;
            border-radius: 20px;
          }
        }
    }
}