@import '../mixins/responsive';
body{
    display: flex;
    flex-direction: column;
    .group{
        display: flex;
        .card{
          margin: 10px;
          background: lightblue;
          border-radius: 20px;
          img{
            border-radius: 20px;
          }
        }
    }
}